.primary-nav {
    grid-area: primary-nav;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: #283037;
    color: #ffffff;
    padding: 10px;
    height: 100vh;
  }
  
  .action-text {
    display: flex;
    /* margin-left: 1rem; */
    font-size: 1.25rem;
    justify-content: center;
    margin-top: -10px;
  }
  

  